
.blue {
  stroke: blue;
  stroke-width: 1.5px;
}

.x-axis {
  font-size: 16px;
  stroke-width: 1.5px;
}

.y-axis {
  font-size: 16px;
  stroke-width: 1.5px;
}

.state {
  font-size: 16px;
}

.metric {
  font-size: 16px;
  /* border-style: solid;
  border-width: 5px; */
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 90%;
  margin: 20px;
}

.holder {
  margin: auto;
  width: 75%;
}

body {
  background-color: #ebeaed;
}

.container-fluid {
  background-color: #ebeaed;
  /* padding: 5%; */
  /* padding-bottom: 20%;
  padding-left: 2%; */
}

h6 {
    color: black;
}

.navbar-light .navbar-brand {
  color: white;
  background-color: #45959d;
  padding: 5px 5px 5px 5px;
}

.navbar-brand {
  font-size: 24px;
}

.nav-link {
  font-size: 24px;
}

td#nav1 * {
    float: left;
 }
.sub {
  max-width: 100%;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

.row {
  color: #45959d;
  /* background-color: #6109e74a; */
  /* text-align: center; */
  padding: 5px 5px 5px 5px;
}

p {
  color: #6c757d;
  text-align: left;
}

img {
  display:block;
}

.pict {
  padding: 10px;
}

.floater {
  float:left;
  margin-right:5px;
}

.footer {
  right:0;
  bottom:0;
  left:0;
  padding: 10px;
  /* max-width: 100%; */
  background-color: teal;
  color: white;
  text-align: center;
  /* padding-right: 100%;
  padding-left: 100%; */
  }

  .footer p {
    color: white;
    font-size: 1.25em;
    text-align: center;
  }

li {
  font-size: 24px;
}
