<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Statistical Analysis</title>
  </head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <td id="nav1" colspan="2">
        <img src="../Images/0-Logo.png" alt="This is my sites logo">
    </a>
    <a class="navbar-brand" href="index.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link" href="analysis.html">Data Analysis  <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="statisticalAnalysis.html">Statistical Analysis <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="conclusion.html"> Conclusion <span class="sr-only">(current)</span></a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Page Content -->

  <div class="jumbotron">
      <div class="row">
          <div class="container">
              <div class="col-md-12">
                  <div style="float: left">
                  <h1>Statistical Analysis</h1>
                  <h3> Comparison of population changes across states that have legalized marijuana </h3>
            
                  <div>
                    <img src="../Images/6-RateOfChange.png" alt="Rate of Change" width="500" />
                    <p>
                    The heatmap shows that year and value are linearly correlated, therefore we can use linear regression to determine average rate of change in population.
                    </p>
                  </div>
                  <p>
                     <img  width="500" src="../Images/7-AlaskaPopChange.png" alt="Alaska Population Change">
                  </p>
                  <p>
                      <img width="500" src="../Images/8-CaliPopChange.png" alt="California Population Change">
                  </p>
                  <p>
                    <img width="500" src="../Images/9-ColoradoPopChange.png" alt="Colorado Population Change">
                  </p>
                  <p>
                      <img width="500" src="../Images/10-AlaskaGDPChange.png" alt="Alaska GDP Change">
                  </p>
                  <p>
                    <img  width="500" src="../Images/11-CaliforniaGDPChange.png" alt="California GDP Change">
                  </p>
                  <p>
                  <img  width="500" src="../Images/12-NevadaGDPChange.png" alt="Nevada GDP Change">
                 </p>
                 </div>
              </div>
          </div>
      </div>
  </div> 
  
  <!-- /.container -->

  <div class="footer">
      <p> &#169;Copyright Group 1: Bowie Hand, Darya Rudych, Jessica Serna, Lu Wang, Shweta Banerjee, Yedidya Erque- 2018</p>
  </div>
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <!-- <script src="js/bootstrap.min.js"></script> -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
  </html>